<%- include('includes/header') -%>
<div class="container">
    <main>
      <div class="py-5 text-center">
        
        <h2>Cadastrar</h2>
        <p class="lead">Podemos começar a se conhecer aqui, qual seu nome?</p>
      </div>
  
      <div class="row justify-content-center">
        
        <div class="col-md-8 col-lg-6">
          
          <form method="POST" class="needs-validation" >
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="nome" class="form-label">Nome completo</label>
                <input type="text" class="form-control" id="nome" placeholder="" name="nome"  
                required oninvalid="this.setCustomValidity('Campo obrigatório, preencha.')"
                onchange="try{setCustomValidity('')}catch(e){}">

              </div> 
               <div class="col-sm-6">
                <label for="telefone" class="form-label">Número de telefone</label>
                <input type="text" class="form-control" id="telefone" placeholder="" name="telefone" 
                required oninvalid="this.setCustomValidity('Campo obrigatório, preencha.')"
                onchange="try{setCustomValidity('')}catch(e){}"
                >

              </div>
  
              
  
              <div class="col-12">
                <label for="username" class="form-label">Usuário</label>
                <div class="input-group has-validation">
                  <span class="input-group-text">@</span>
                  <input type="text" class="form-control" id="username" name="username" placeholder="meunome" 
                  required oninvalid="this.setCustomValidity('Campo obrigatório, preencha.')"
                  onchange="try{setCustomValidity('')}catch(e){}">
              
                </div>
              </div>
  
              <div class="col-12">
                <label for="email" class="form-label">Email </label>
                <input type="email" class="form-control" id="email" name="email" placeholder="voce@exemplo.com" 
                >
               
              </div>
  
              <div class="col-12">
                <label for="endereco" class="form-label">Endereço(opcional)</label>
                <input type="text" class="form-control" id="endereco" name ="endereco" placeholder="Rua conhecida, 240" >
               
              </div>
  
  
              <div class="col-md-5">
                <label for="pais" class="form-label">País</label>
                <select class="form-select" id="pais" name="pais" required oninvalid="this.setCustomValidity('Campo obrigatório, preencha.')"
                onchange="try{setCustomValidity('')}catch(e){}">
                  <option value="">Escolha...</option>
                  <option>Brasil</option>
                </select>
                
              </div>
  
              <div class="col-md-4">
                <label for="estado" class="form-label">Estado(opcional)</label>
                <select class="form-select" id="estado" name="estado">
                  <option value="">Escolha...</option>
                  <option>Paraná</option>
                </select>
                
              </div>
  
              <div class="col-md-3">
                <label for="cep" class="form-label">CEP(opcional)</label>
                <input type="text" class="form-control" id="cep" name="cep" placeholder="" >
                
              </div>
            </div>
  
            <hr class="my-4">
  
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="same-address">
              <label class="form-check-label" for="same-address">Receber notificações via email.</label>
            </div>
  
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="save-info">
              <label class="form-check-label" for="save-info">Salvar usuário no navegador.</label>
            </div>
  
            <hr class="my-4">
  
            <h4 class="mb-3">Senha</h4>
            <div class="row gy-3">
              <div class="col-md-6">
                <label for="password" class="form-label">Digite sua senha:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="" 
                required oninvalid="this.setCustomValidity('Campo obrigatório, preencha.')"
                onchange="try{setCustomValidity('')}catch(e){}">
              </div>
  
              <div class="col-md-6">
                <label for="password" class="form-label">Digite novamente sua senha:</label>
                <input type="password" class="form-control" id="password" name="" placeholder="" 
                required oninvalid="this.setCustomValidity('Campo obrigatório, preencha.')"
                onchange="try{setCustomValidity('')}catch(e){}">
              </div>
            </div>
  
            <hr class="my-4">
  
            <button class="w-100 btn btn-primary btn-lg" type="submit">Confirmar cadastro de usuário</button>
          </form>
        </div>
      </div>
    </main>
<%- include('includes/footer') -%>